@page "/dashboard"

<div class="header">
    <div>&#60;</div>
    <h1>DASHBOARD</h1>
</div>

<div class="dashboard">
    <div class="main-dashboard">
        <div>
            <img src="https://www.w3schools.com/howto/img_avatar.png">
        </div>
        <div class="center-dashboard">
            <div>TITLE NAVN</div>
            <div>
                <p>
                    <span>⚠</span> No warnings or alarm
                </p>
            </div>
        </div>
        <div>
            <span class="status"></span>
        </div>
    </div>

    <div class="lower-dashboard">
        <div>
            <p>Head (m)</p>
            <p>@response.PowerUsage</p>
        </div>
        <div>
            <p>Flow (m<sup>2</sup>/h)</p>
            <p>@response.PumpFlow</p>
        </div>
        <div>Controlled from: Grundfos GO Remote</div>
    </div>
</div>

<div class="control-area">
    <div>
        <p>Control Mode</p>
        <img src="https://dummyimage.com/100/00ff48/ff0000.png&text=Image+Found">
        <p>Proportional pressure</p>
    </div>
    <div>
        <p>Set Point</p>
        <img src="https://dummyimage.com/100/00ff48/ff0000.png&text=Image+Found">
        <p>m</p>
    </div>
    <div>
        <p>Operating mode</p>
        <img src="https://dummyimage.com/100/00ff48/ff0000.png&text=Image+Found">
        <p>Normal</p>
    </div>
</div>

@code {
    private string prevResponse = "";
    private ResponseData response = new ResponseData();

    private static DeviceClient deviceClient;
    private static readonly string connectionString = "HostName=DotNETCoreIOT.azure-devices.net;DeviceId=Blazor;SharedAccessKey=UTcYsXb4sDzYf/iraDsxusZ2zocbQP5oEi3SxH4SAss=";

    protected override void OnInitialized() {
        deviceClient = DeviceClient.CreateFromConnectionString(connectionString);
        deviceClient.SetReceiveMessageHandlerAsync(ReceiveCloudToDeviceMessageAsync, deviceClient);
    }

    private async Task ReceiveCloudToDeviceMessageAsync(Message msg, object _) {
        string res = Encoding.ASCII.GetString(msg.GetBytes());

        if(prevResponse != res) {
            response = JsonConvert.DeserializeObject<ResponseData>(res);
            prevResponse = res;

            Console.WriteLine(res);

            InvokeAsync(() => StateHasChanged());
        }

        await deviceClient.CompleteAsync(res);
    }
}
